@import "tailwindcss";

@theme {
  /* Registrando as cores da IBAC no tema da v4 */
  --color-ibac-orange: #B34711;
  --color-ibac-gray: #D9D9D9;
  --color-ibac-dark: #3E3E3E;
}

/* Reset básico para mobile */
@layer base {
  body {
    @apply m-0 p-0 antialiased;
  }
}